{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkSense</title>

  <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/gpt-engineer-file-uploads/8blA73G6dTYko2eKM0E67FwYpV72/uploads/1770317449305-WhatsApp_Image_2026-02-01_at_21.36.10.jpeg">
  <script type="module" crossorigin src="{% static 'assets/index-BTIqxsQb.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'assets/index-D3I4Q73_.css' %}">
</head>

  <body>
    <div id="root"></div>
  </body>
</html>
